@model (string Name, string? sec1,string? sec2,string? sec3,string? sec4,string? sec5)
<li class="category-item">
    @if (Model.sec1 == "null")
    {
        <a>@Model.Name</a>
    }


    @if (Model.sec1 != "null")
    {
        <div class="d-flex justify-content-between align-items-center category-header collapsed" data-bs-toggle="collapse" data-bs-target="#@Model.sec5" aria-expanded="false" aria-controls="@Model.sec5">
            <a href="javascript:void(0)" class="category-link">@Model.Name</a>
            <span class="category-toggle">
                <i class="bi bi-chevron-down"></i>
                <i class="bi bi-chevron-up"></i>
            </span>
        </div>
    }


    @if (Model.sec1 != "null")
    {

        <ul id="@Model.sec5" class="subcategory-list list-unstyled collapse ps-3 mt-2">
            <li><a href="#" class="subcategory-link">@Model.sec1</a></li>
            <li><a href="#" class="subcategory-link">@Model.sec2</a></li>
            <li><a href="#" class="subcategory-link">@Model.sec3</a></li>
            <li><a href="#" class="subcategory-link">@Model.sec4</a></li>
        </ul>
    }
</li>

